{% extends './base.html' %}
{% load static %}
{% load helper_tags %}

{% block content %}
  {{ block.super }}

  <div class="container">
    <h4 class="text-primary">Logs</h4>

    <span class="small text-info">
      UTC time: <span id="live-utc-clock"></span>
    </span>
    <br/>
    <br/>

    <div >
      <a href="{% url 'all_logs' %}"
         role="button"
         aria-pressed="true"
         class="btn btn-primary btn-sm"
      >
        All
      </a>

      <a href="{% url 'all_logs' %}{% toggle_url_var 'log_type' 'ERROR' %}"
         role="button"
         aria-pressed="true"
         class="btn btn-danger btn-sm"
      >
        Errors
      </a>

      <a href="{% url 'all_logs' %}{% toggle_url_var 'category' 'timelapse' %}"
         role="button"
         aria-pressed="true"
         class="btn btn-info btn-sm"
      >
        Timelapses
      </a>

      <a href="{% url 'all_logs' %}{% toggle_url_var 'category' 'filetransfer' %}"
         role="button"
         aria-pressed="true"
         class="btn btn-info btn-sm"
      >
        File Transfer
      </a>

      <form method="get" action=".">
        <span class="form-group d-flex my-2">
          <input  id="search_box" type="text" name="title_content" placeholder="Search..." class="form-control">
          <button id="search_submit" type="submit" class="btn btn-primary ml-2">Search</button>
        </span>
      </form>
    </div>
    <hr/>

    <div class="list-group">
      {% for log in object_list %}
        <div class="list-group-item">
          <div class="row">

            <div class="col-10">
              <div class="text-primary">{{ log.title }}
                <span class="text-info small">{{ log.created_time }}</span>
                <i class="text-secondary small">{{ log.created_time|timesince }} ago</i>
              </div>

              <div class="text-secondary small">{{ log.content }}</div>
            </div>

            <div class="col-2 my-auto">

              <div class="row">
                <div class="col small d-flex flex-row-reverse">
                  <span
                    class="badge
                      {% if log.log_type == 'ERROR' %}
                        badge-danger
                      {% else %}
                        badge-primary
                      {% endif %}">

                    {{ log.log_type }}
                  </span>
                </div>
              </div>

              <div class="row">
                <div class="col small d-flex flex-row-reverse">
                  <form action="{% url 'delete' log.id %}">
                    {% csrf_token %}

                    <button type="submit" class="close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>
      {% empty %}
        <div class="text-secondary">Empty</div>
      {% endfor %}

      <!-- Pagination buttons -->
      {% if is_paginated %}
        <br/>
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                  <a
                    href="{% url 'all_logs' %}{% url_var 'page' page_obj.previous_page_number %}"
                    role="button"
                    aria-pressed="true"
                    class="btn btn-primary btn-sm"
                  >
                    Previous
                  </a>
                {% endif %}

                {% if page_obj.has_next %}
                  <a
                    href="{% url 'all_logs' %}{% url_var 'page' page_obj.next_page_number %}"
                    role="button" aria-pressed="true"
                    class="btn btn-primary btn-sm"
                  >
                    Next
                  </a>
                {% endif %}

                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
            </span>
        </div>
    {% endif %}
    </div>

    <br/>
    <form action="delete/all">
      <button class="btn btn-primary" type="submit">Clear all</button>
    </form>
  </div>
{% endblock content %}


{% block scripts %}
  {{ block.super }}

  <script type="text/javascript" src="{% static 'shared/js/live_utc_clock.js' %}"></script>
{% endblock scripts %}