{% extends "camera_control/base.html" %}
{% load widget_tweaks %}

{% block content %}
  <div class="container">
    <a class="" href="#help-text" data-toggle="collapse">Help</a>
    <div id="help-text" class="collapse">
      <hr/>
      {% include './_timelapse_man.html' %}
    </div>
    <hr/>


    <form action="#" method="post">
      {% csrf_token %}

      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
      {% endfor %}

      {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}

      <div class="form-group">
        {% include 'camera_control/form_utils/std_field.html' with field=form.name %}
        <br/>

        {% include 'camera_control/form_utils/std_field.html' with field=form.storage_dir_format %}
        <br/>

        {% include 'camera_control/form_utils/std_field.html' with field=form.filename_format %}
        <br/>

        <!--Start date & end date-->
        <div class="row">
          <span class="col-6">
            {% include 'camera_control/form_utils/std_field.html' with field=form.start_date %}
          </span>

          <span class="col-6">
            {% include 'camera_control/form_utils/std_field.html' with field=form.end_date %}
          </span>
        </div>
        <br/>

        <!--day month-->
        <div class="row">
          <span class="col-6">
            {% include 'camera_control/form_utils/std_field.html' with field=form.day %}
          </span>

          <span class="col-6">
            {% include 'camera_control/form_utils/std_field.html' with field=form.month %}
          </span>
        </div>
        <br/>

        <!--ss mm hh-->
        <div class="row">
          <span class="col-4">
            {% include 'camera_control/form_utils/std_field.html' with field=form.second %}
          </span>

          <span class="col-4">
            {% include 'camera_control/form_utils/std_field.html' with field=form.minute %}
          </span>

          <span class="col-4">
            {% include 'camera_control/form_utils/std_field.html' with field=form.hour %}
          </span>
        </div>
        <br/>

        {% include 'camera_control/form_utils/std_field.html' with field=form.day_of_week %}
        <br/>

        <a class="text-secondary" href="#optional-fields" data-toggle="collapse">Advanced</a>
        <div id="optional-fields" class="collapse">
          <hr/>
          {% include 'camera_control/form_utils/std_field.html' with field=form.week %}
          <br/>

          {% include 'camera_control/form_utils/std_field.html' with field=form.year %}
          <br/>
        </div>
      </div>

      <button class="btn btn-primary" type="submit">Submit</button>
    </form>

  </div>
{% endblock content %}
