{% extends "./base.html" %}
{% load widget_tweaks %}

{% block styles %}
  <style>
    INPUT[type=checkbox] {
      margin-top: 1.8%
    }
  </style>
{% endblock styles %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="add-item text-center col-sm-12">

        <h2 class="text-primary">{{ camera_name }}
          <span class="text-secondary small">ID: {{ camera_id }}</span>
        </h2>
        <div class="text-info">Config name: {{ config_name }}</div>
        <hr/>

        <form action="{% url 'single_config' camera_id config_name %}" method="post">
          {% csrf_token %}

          {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
          {% endfor %}

          {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
          {% endif %}

          <div>
            {% for field in form.visible_fields %}
              {% include "./_camera_config_field.html" %}
            {% endfor %}
          </div>
          <hr/>

          <br />
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>

      </div>
    </div>
  </div>

{% endblock content %}