<!-- element should be view_models.CameraConfigElement -->

<ul class="list-group">
    {% for element in elements %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                {{ element.label }} <div class="text-secondary d-inline">({{ element.name }})</div>
            </div>

            <div>
                {% if element.value %}
                    <span class="badge badge-primary">{{ element.value }}</span>
                {% endif %}

                {% if element.is_readonly %}
                    <span class="badge badge-dark">Readonly</span>
                {% endif %}

                <span class="badge badge-light">{{ element.config_type }}</span>
            </div>
        </li>
    {% endfor %}
</ul>