<!-- elements: expected -->

<ul class="list-group">
    {% for element in elements %}
        {% with i=forloop.counter|stringformat:'s' %}
        {% with "collapse_"|add:i|add:parent_id as card_id  %}

        <li id="element-accordion" class="card">
            <a class="card-header card-link d-flex justify-content-between align-items-center"
               data-toggle="collapse"
               href="#{{ card_id }}">

                <div class="text-info">
                    {{ element.label }} <div class="text-muted d-inline">({{ element.name }})</div>
                </div>

                <div>
                    {% if element.value %}
                        <span class="badge badge-primary">{{ element.value }}</span>
                    {% endif %}

                    {% if element.is_readonly %}
                        <span class="badge badge-dark">Readonly</span>
                    {% endif %}

                    <span class="badge badge-light">{{ element.config_type }}</span>
                </div>
            </a>

        <div id="{{ card_id }}" class="collapse">
            <div class="card-body">

            </div>
        </div>
        </li>

        {% endwith %}
        {% endwith %}
    {% endfor %}
</ul>

