{% load widget_tweaks %}
{% load dict_utils %}

{% for key, _ in form_fields.items %}
  {% with field=fields_dict|get_dict_item:key %}

    <div class="form-group row">
      <label class="col-sm-4 col-form-label text-right" for="{{ field.auto_id }}">
        <div class="text-info">{{ field.label_tag }}
          <div class="text-secondary small">{{ field.help_text }}</div>
        </div>
      </label>

      <!-- error/validation rendering -->
      {% if field.errors %}
        {% render_field field class="form-control is-invalid" %}

        {% for error in field.errors %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      {% endif %}

      <div class="col-sm-8">
        {% render_field field class="form-control" %}
      </div>
    </div>
  {% endwith %}
{% endfor %}
