{% extends "./base.html" %}

{%load static from staticfiles %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'remote_camera/css/camera_preview.css' %}" />
{% endblock styles %}

{% block content %}
    {% if camera_ports|length == 0 %}
        <div class="text-primary">No cameras detected</div>
    {% else %}
        <div class="row">
            {% for camera_port in camera_ports %}
                <div class="preview_container">
                    <img class="img_preview center" src="{% url 'live_preview_source' camera_port %}">
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock content %}