{% extends "../base.html" %}
{% load widget_tweaks %}

{% block content %}
  <form action="{% url 'settings/favourite_configs_profile' profile_id %}" method="post">
    {% csrf_token %}

    <h4 class="text-info">Profile</h4>
    <hr />

    <div class="row">
    <div class="col-11">
    <div class="form-group row">
      {% for field in profile_form.visible_fields %}

          <label class="col-4 col-form-label text-right" for="{{ field.auto_id }}">
            <span class="text-info">{{ field.label_tag }}</span>
          </label>

          <div class="col-8">
            {% if field.errors %}
              {% render_field field class="form-control is-invalid" %}

              {% for error in field.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
              {% endfor %}
            {% else %}
              {% render_field field class="form-control" %}
            {% endif %}

          </div>
      {% endfor %}
    </div>
    </div>
    </div>


    <h4 class="text-info">Fields
      <a class="text-info" href="{% url 'settings/favourite_configs_profile_add_new' profile_id %}">
        <i aria-hidden="true" class="fa fa-plus-square fa-fw" data-toggle="tooltip" title="Add field"></i>
      </a>
    </h4>
    <hr />

    {% for field_form in field_forms %}
      <div class="form-group row">

        <div class="col-11">
        <div class="row">
          {% for field in field_form.visible_fields %}
              <label class="col-4 col-form-label text-right" for="{{ field.auto_id }}">
                <span class="text-info">{{ field.label_tag }}</span>
              </label>

              <div class="col-8">
                {% if field.errors %}
                  {% render_field field class="form-control is-invalid" %}

                  {% for error in field.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                  {% endfor %}
                {% else %}
                  {% render_field field class="form-control" %}
                {% endif %}

              </div>
          {% endfor %}
        </div>
        </div>

        <div class="col-1">
          <a class="text-info" href="{% url 'settings/favourite_configs_profile_remove' field_form.model_pk %}">
            <i aria-hidden="true" class="fa fa-trash fa-fw" data-toggle="tooltip" title="Remove"></i>
          </a>
        </div>
      </div>
      <hr />
    {% empty %}
      <div class="text-secondary">No fields</div>
      <hr />
    {% endfor %}

    <br />
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
{% endblock content %}
