{% extends "camera_control/base.html" %}
{% load widget_tweaks %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="add-item text-center col-sm-12">
        <h2 class="text-primary">{{ camera_name }}
          <span class="text-secondary small">ID: {{ camera_id }}</span>
        </h2>

        <ul class="list-group">

          {% for config_name in config_names %}
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              <a href="{% url 'single_config' camera_id config_name %}">
                <span class="text-info">{{ config_name }}</span>
              </a>
            </li>
          {% empty %}
            <li class="text-info">No configs found</li>
          {% endfor %}

        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
