<h4>Manual</h4>
<blockquote class="ml-3">
  <div>Configurations that will be applied to all the connected cameras.</div>
  <div>
    Each configuration to be changed is presented by a Name and a Value
    (the delete checkbox is to delete the specific field from the schedule).
  </div>
  <div>
    The name and value must be the exact values copy-pasted from the camera's
    configurations. For example: Name: <i>shutterspeed</i> and Value: <i>0.001s</i>.
    A slight difference in the name or the value may result in failing to change the configuration.
    For example, for shutterspeed, for some camearas, the value must be decimal (between 0.0 and 1.0),
    then the value can be any number between 0 and 1. On other cameras, it can only be a value
    from a given set of choices. For example: [0.0010s, 0.0020s, 0.01s]. In this case, the value must
    be exactly one from the given choices, for example 0.0010<b>s</b>.
  </div>
  <div>
    To add more than one configuration, simply save it and a new empty configuration will appear.
  </div>
</blockquote>