{% extends './base.html' %}
{% load static %}

{% block content %}
{{ block.super }}

<div class="container">
  <h3 class="text-primary">Scheduled Configs</h3>
  <div class="list-group">
    {% for scheduled_config in object_list %}
    <a
      class="list-group-item list-group-item-action"
      href="{% url 'scheduled-config/update' scheduled_config.pk %}">

      <div class="row">
        <div class="col-11 text-primary">{{ scheduled_config.name }}</div>
        <div class="col-1 text-secondary small my-auto">Id: {{ scheduled_config.pk }}</div>
      </div>
    </a>
    {% empty %}
    <div class="text-secondary">No scheduled configs</div>
    {% endfor %}
  </div>

  <br/>
  <form action="{% url 'scheduled-config/create' %}">
    <button type="submit" class="btn btn-primary">Create scheduled config</button>
  </form>
</div>
{% endblock content %}

