{% extends "camera_control/base.html" %}

{% load static from staticfiles %}

{% block content %}
  <div class="row">
    <center class="col-6">
      <img style="width:100%" src="{% url 'live_preview_source' camera_id %}">
      <span class="text-primary">{{ camera_name }}</span>
      <span class="text-secondary small">ID: {{ camera_id }}</span>
      {% include 'camera_control/_camera_buttons.html' %}
    </center>

    <div class="col-6">
      <form action="{% url 'live_preview' camera_id %}" method="post">
        {% csrf_token %}

        {% for form in field_forms %}
          <div class="container">
            <div class="row">
              <div class="add-item text-center col-sm-12">
                {% for hidden_field in form.hidden_fields %}
                  {{ hidden_field }}
                {% endfor %}

                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                  {% for error in form.non_field_errors %}
                    {{ error }}
                  {% endfor %}
                </div>
                {% endif %}

                <div>
                  {% with short_mode=True %}
                    {% for field in form.visible_fields %}
                      {% include "camera_control/camera_config/_camera_config_field.html" %}
                    {% endfor %}
                  {% endwith %}
                </div>
              </div>
            </div>
          </div>
        {% empty %}
          <div class="text-secondary">No favourite settings</div>
        {% endfor %}

        <center>
          <button class="btn btn-primary" type="submit">Submit</button>
        </center>
      </form>
    </div>
  </div>
{% endblock content %}