{% extends './app_base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="add-item text-center col-sm-12">
        <ul class="list-group">

          {% for camera in cameras %}
            <li class="list-group-item">
              <div class="row">

                <div class="text-primary col-4 text-left" data-toggle="tooltip" title="Camera name">
                  {{ camera.name|truncatechars:40 }}
                </div>

                <div class="ml-auto text-info px-3 small col-2">
                  ID: {{ camera.id }}
                </div>

                <div class="ml-auto text-secondary px-3 small col-2" data-toggle="tooltip" title="Summary">
                  {{ camera.summary }}
                </div>

                <div class="col-4 d-flex flex-row-reverse">
                  {% include './_camera_buttons.html' with camera_id=camera.id %}
                </div>

              </div>
            </li>
          {% empty %}
            <li class="list-group-item text-primary big">No cameras detected</li>
          {% endfor %}
        </ul>

        <br/>
        <div>
          <button
            class="btn btn-primary pull-left"
            onclick="camerasAutodetectBtnClick(this, this.value)"
            value="{% url 'api/cameras_autodetect' %}"
          >
            <span class="spinner spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
            Autodetect cameras
          </button>

          <button
            class="btn btn-danger btn-sm pull-right"
            onclick="hardResetBtnClick(this, this.value)"
            value="{% url 'api/cameras_hard_reset_all' %}"
            data-toggle="tooltip" title="Hard reset ykush3 board"
          >
            <span class="spinner spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
            Hard reset
          </button>

        </div>
      </div>
    </div>
  </div>

  <br />
{% endblock content %}

{% block scripts %}
  {{ block.super }}

  <script type="text/javascript" src="{% static 'camera_ctrl/js/cameras_autodetect_btn_click.js' %}"></script>
  <script type="text/javascript" src="{% static 'camera_ctrl/js/hard_reset_btn_click.js' %}"></script>
{% endblock scripts %}