{% extends './app_base.html' %}
{% load static %}

{% block content %}
  <div class="row">
    {% for camera in cameras %}
      <center class="column col-6">
        {% if error %}
          <div class="text-danger">{{ error }}</div>
        {% else %}
          <img style="width:100%" src="{% url 'api/camera_preview_source' camera_id=camera.id %}">
          <span class="text-primary">{{ camera.name }}</span>
          <span class="text-secondary small">ID: {{ camera.id }}</span>

          {% include 'camera_ctrl/_camera_buttons.html' with camera_id=camera.id %}
        {% endif %}
      </center>
    {% empty %}

      <div class="container text-danger">No cameras detected</div>
    {% endfor %}
  </div>
{% endblock content %}